* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#div {
    margin-top: 1em;
    width: 90%;
    height: 30em;
    padding: 3em;
    background-color: white;
    border: 3px solid yellow;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 1em 3em;
}

.divs {
    width: 48%;
    height: 98%;
    border: 2px solid yellowgreen;
    border-radius: 15px;
    background: url(../IMAGES/backimg);
    background-position: center;
    background-size: cover;
    padding: 0.5em 0em 0em 0.5em;
}

#div1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#div1 img {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    border: 4px solid yellow;
    box-shadow: 0 0.3em 0.9em -0.4em yellow;

}

#div1 h1 {
    font-size: 3em;
    margin-left: 2em;
    color: white;
}

#div2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

#div2 h2 {
    margin-top: 6em;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

#div2 h3 {
    margin-top: 1.5em;
    margin-left: 1.8em;
}

#div2 a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

#div2 a:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.6;
    font-size: 1.1em;
}

#dayOfWeek,
#time {
    margin-left: 1em;
}

@media (max-width: 946px) {
    body {
        height: 100vh;
        background-color: green;
    }

    #div {
        width: 100%;
        height: 50em;
        border-radius: 15px;
        border: 5px solid yellow;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        background-color: black;
    }

    .divs {
        width: 98%;
        height: 48%;
        background-color: black;
        border: 3px solid yellow;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #div1 img {
        width: 20em;
        height: 20em;
    }

    #div2 {
        height: 30%;
    }

    #div2 h2 {
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        margin-left: 1em;
    }

    #div h3 {
        margin-left: 2em;
    }

}